<form class="text-center border border-light p-5" [formGroup]="form">
    <p class="h4 mb-4">Login</p>
    <input type="text" id="defaultLoginFormEmail" formControlName="username" class="form-control mb-4" placeholder="Usuario">
    <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control mb-4" placeholder="Contraseña">
    <div class="d-flex justify-content-around">
        <div>
            <mdb-checkbox [default]="true">Recordarme</mdb-checkbox>
        </div>
    </div>
    <button mdbBtn color="info" block="true" class="my-4" type="button" (click)="submitForm()">Ingresar</button>
    <button type="button" mdbBtn color="primary" mdbWavesEffect  (click)="register.emit()">Registrate</button> 
</form>